html
  head
    title= _title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h1.head_title SEUNGHEE HAN
    p.head_body Ph.D.Candidate
    p.head_body Department of Computer Science, Yonsei University, Seoul, South Korea
    p.head_body alphahacker.han@gmail.com, alphahacker@yonsei.ac.kr
    p.head_body +82 (2) 2123 7269

    br

    p.head_body
      a(href="../home/cv") Home

    br

    h3 ALPHA DATA
    hr

    p blah blah..1
