html
  head
    title= _title
    link(href='/stylesheets/style.css', rel='stylesheet')

  body
    h1.head_title SEUNGHEE HAN
    p.head_body Ph.D.Candidate
    p.head_body Department of Computer Science, Yonsei University, Seoul, South Korea
    p.head_body alphahacker.han@gmail.com, alphahacker@yonsei.ac.kr
    p.head_body +82 (2) 2123 7269

    br

    p.head_body
      a(href="../alphadata/index") AlphaData

    br

    h3 RESEARCH INTERESTS
    hr

    p blah blah..2

    br

    h3 EDUCATION
    hr

    p o (August 2018) Ph.D. in Computer Science, Yonsei University, South Korea
    p o (August 2011) B.S. in Computer Engineering, Yonsei University, South Korea

    br

    h3 RESEARCH EXPERIENCE
    hr

    p blah blah..4

    br

    h3 INDUSTRY EXPERIENCE
    hr

    p blah blah..5

    br

    h3 PUBLICATIONS
    hr

    p o Han, Seunghee, and JooSeok Song. (submitted) "Usage-aware caching algorithm for improving performance of online services in Multi-Cloud Environments." Journal of supercomputing 2018 (2018).
    p o Han, Seunghee, and JooSeok Song. "A social-aware caching algorithm for improving performance of online social network services in a multi-cloud environment." Proceedings of the 3rd International Conference on Communication and Information Processing. ACM, 2017.
    p o Han, Seunghee, et al. "Adaptive Data Placement for Improving Performance of Online Social Network Services in a Multicloud Environment." Scientific Programming 2017 (2017).
    p o 한승희, 송주석, "무선랜 환경에서의 Throughput 향상 기법에 관한 연구," 한국 정보보호학회 하계학술대회, 2014.
    p o Choi, Jiwoong, et al. "Methods to Hide Malicious Codes in PowerPoint." International Journal of e-Education, e-Business, e-Management and e-Learning 3.6 (2013): 488.

    br

    h3 AWARDS
    hr

    p o ICCIP 2017, Excellent Oral Presentation Certificate
    p o Samsung SDS global internship program 2011, Win
    p o LG U+ Open Contest, Final List

    br

    h3 TECHNICAL SKILLS
    hr
    
    p o Apache Spark, Node.js, Redis, MySQL, PostgreSQL, HAProxy, Apache Kafka, Javascript, Scala, Java, Python, C, C++
